server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:mem:contentdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console


tmdb:
  api-key: 66ee64af37934a734c7cc9989fea0964
  base-url: https://api.themoviedb.org/3
  image-base-url: https://image.tmdb.org/t/p/w500
